.devjeff__card {
  h5 {
    font-style: italic;
    font-weight: bold;
    padding: 8px 16px;
    background: black;
    color: $primary;
    position: relative;
  }

  a {
    display: block;
  }
  margin-bottom: 16px;
}

.devjeff__blog_title_image {

  .page-title {
    background: rgba(0,0,0,.7);
  }

  min-height: 400px;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 575px) {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    min-height: 250px;
  }
}

.devjeff__blog_content {
  h2, h3, h4, h5 {
    font-weight: bold;
  }
  p {
    font-family: Georgia;
  }
}

.devjeff__blog_card {
  display: flex;
  color:  black!important;
  margin: 0 0 32px;

  *  {
    margin: 0;
  }

  .image-container {
    position: relative;
    width: 140px;

    .devjeff__image_background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;

      background-position: 50% 50%;
      background-size: cover;
    }
  }
  .right-section {
    flex: 1 1 auto;
    padding: 0 0 0 32px;
  }

  h2 {
    font-weight: bold;
    font-size: 25px;
  }

  p {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }
}
